.container {
    .main-toolbar {
      .spacer {
        flex: 1 1 auto;
      }
      .toolbar-btn {
        font-size: 16px;
        margin-right:5px;
        cursor: pointer;
      }
    }
  
    .content {
      .logo {
        margin: 2.5rem;
        text-align: center;
        font-size:24px;
        color: #3f51b5;
        .mat-icon{
          height:160px !important;
          width:160px !important;
          font-size:160px !important;
        }
      }
    }
  
    .media-footer {
      position: absolute;
      bottom:0;
      width:100%;
      .time-slider {
        width: 100% !important;
        margin-left:20px;
        margin-right:20px;
      }
      .media-action-bar {
        width: 100%;
        padding:2.5rem;
        justify-content: center;
        .mat-icon{
          height:48px !important;
          width:48px !important;
          font-size:48px !important;
        }
      }
    }
  }